@model BaseCorporate.Service.Model.HeadModel
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@Html.Raw(@Model.Title)</title>
<meta name="author" content="@Html.Raw(@Model.Author)">
<meta name="description" content="@Html.Raw(@Model.Description)">
<meta name="keywords" content="@Html.Raw(@Model.Keywords)">
<link rel="canonical" href="@Model.Canonical">
<meta property="og:url" content="@Model.OgUrl">
<meta property="og:type" content="@Model.OgType">
<meta property="og:title" content="@Html.Raw(@Model.Title)">
<meta property="og:image" content="@Model.OgImage" />
<meta property="og:description" content="@Html.Raw(@Model.Description)">
<meta property="og:site_name" content="@Html.Raw(@Model.OgSiteName)">


