@model BaseCorporate.Service.Model.MenuItemModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_IframeLayout.cshtml";
}

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <form id="MenuItemAddOrUpdate" action="/admin/menuitem/addorupdate" method="post">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <input type="hidden" name="groupKey" value="@Model.GroupKey" />
                        <div class="col-sm-3">
                            <label for="name">Adı</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="name" name="name" value="@Model.Name" class="form-control" placeholder="Adı">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="name">Link</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="link" name="link" value="@Model.Link" class="form-control" placeholder="Link">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="name">Menü Grubu</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <select class="form-control show-tick" id="groupId" name="groupId">
                                        @foreach (var group in Model.Groups)
                                        {
                                            if (group.Id == Model.GroupId)
                                            {
                                                <option value="@group.Id" selected>@group.Value</option>
                                            }
                                            else
                                            {
                                                <option value="@group.Id">@group.Value</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="external">Dış Link</label>
                            <div class="form-group">
                                <input type="checkbox" id="external" name="external" checked="@Model.External" value="@Model.External">
                                <label for="external">Dış Link</label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="name">Sıra</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" id="orderBy" name="orderBy" value="@Model.OrderBy" class="form-control" placeholder="Sıra">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

